.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  align-items: center;
}

input,button{
  width:20%;
  height:2rem;
  font-size: 25px;
  margin: 0.5rem;
}
.food{
  width:500px;
  height:15rem;
  border: 2px solid black;
  margin: 10px;
}
